name: rust-rs

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {}  # Allows manual trigger from GitHub Actions UI
  schedule:
    - cron: "0 2 * * *"

jobs:
    clippy_check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5.0.0
            - uses: actions-rs/toolchain@v1.0.7
              with:
                  toolchain: stable
                  components: clippy
                  override: true
            - uses: clechasseur/rs-clippy-check@v5.0.1
              with:
                  args: --all-features
